.bgnine {
    background-image: url(./9thbgimage.jpg);
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    align-content: center;
    text-align: center;
}
#title {
    text-align: center;
    color: blue;
    font-size: 5cm;
    font-family: monospace;
}

#sports {
    color: red;
    font-size: 3cm;
    text-align: center;
}

#acedamics {
    color: blue;
    font-size: 3cm;
    text-align: center;
}

#extras {
    color: violet;
    font-size: 3cm;
    text-align: center;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: orange;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: blue;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid orange;  /* creates padding around scroll thumb */
}

.ninemain {
    text-align: center;
    font-size: 3cm;
}